<section class="newly-discovered-tools-section">

    <div class="container">
        <h2><span class="highlight">Newly discovered</span> tools</h2>
        <p class="subtitle">New tools are added <strong>daily</strong> to our database ensuring we stay up to date on the latest trends.</p>
        <div class="subheading">
            New tools of the week:
        </div>
        [recent-tools]
        <a href="[link path='/tools']" class="view-more__link">>> view more</a>
        <hr>
    </div>
</section>

<section class="category-of-tools-section">
    <div class="container tabs-and-commonly-searched__container">
        <h2><span class="highlight">Categories</span> of tools</h2>
        <p class="subtitle">We sort our tools into a wide range of <strong>categories</strong> so that users can quickly and easily access relevant tools.</p>
        <div class="subheading">
            Most searched categories:
        </div>
        [top-tools-by-categories]
    </div>
    <div class="button-container">
        <a class="show-more__btn" href="<[link path='/categories']">more categories</a>
    </div>
</section>

<section class="tool-of-the-week">
    <div class="container">
        <h2 class="tool-of-the-week__heading">
            Tool of the <span class="highlight">week:</span>
        </h2>
        <p class="subtitle">
            Sometimes a tool catches our attention so we highlight it to the users.
        </p>
        [tool-of-the-week]
    </div>
</section>

<section class="tasks listing-section">
    <div class="container">
        <h2>Tools for every <span class="highlight">task</span></h2>
        <p class="subtitle">Need a drawing? Need a perfectly tailored resume? <br>Find tools in our database that can help you with any
            <strong>task</strong> at hand.</p>
        <div class="related-container">
            <div class="subheading">
                Top Tasks:
            </div>
            [tools-by-top-tasks]
        </div>
    </div>
</section>

<section class="solutions listing-section">
    <div class="container">
        <h2>Solutions <span class="highlight"> for every task</span></h2>
        <p class="subtitle">They streamline workflows, improve decision-making, and help teams work more efficiently.</p>
        <div class="related-container">
            <div class="subheading">
                Top Solutions:
            </div>
            [tools-by-top-solutions]
        </div>
    </div>
</section>