footer{
  margin-top: 120px;
  a{
    font-family: 'Montserrat';
    font-weight: 500;
  }
  .gb-headline {
    font-family: 'Montserrat';
    font-weight: 700;
    color: #484B67;
  }
  .gb-container{
    border-top:none;
    //background: rgba(215, 229, 255, 0.65);
    //backdrop-filter: blur(4.8000001907px);
  }
  .gb-container-ddd840a8 {
    border-top: none;
    background: rgba(215, 229, 255, 0.65);
    backdrop-filter: blur(4.8000001907px);
  }
  a.wp-block-social-link-anchor {
    border: none;
    border-radius: 0 !important;
    padding: 10px !important;
  }
}