//.gb-grid-wrapper > .gb-grid-column-bfdd51a6::-webkit-scrollbar {
//  display: none;
//}
//.gb-grid-wrapper > .gb-grid-column-bfdd51a6 {
//   width: 25%;
//   height: 100vh !important;
//   /* overflow-y: auto; */
//   overflow-y: auto;
// }
container.gb-container-bfdd51a6 > .gb-inside-container {
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
}