// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

/// Event wrapper
/// @author Harry Roberts
/// @param {Bool} $self [false] - Whether or not to include current selector
/// @link https://twitter.com/csswizardry/status/478938530342006784 Original tweet from Harry Roberts
@mixin on-event($self: false) {
  @if $self {
    &,
    &:hover,
    &:active,
    &:focus,
    &:focus-within {
      @content;
    }
  } @else {
    &:hover,
    &:active,
    &:focus,
    &:focus-within {
      @content;
    }
  }
}

/// Make a context based selector a little more friendly
/// @author Kitty Giraudel
/// @param {String} $context
@mixin when-inside($context) {
  #{$context} & {
    @content;
  }
}

@mixin font-base(){
  flex-shrink: 0;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  line-height: normal;
}

@mixin font-regular($weight){
  font-weight: $weight;
 @include font-base;
}

// Responsive mixins
@mixin responsive($breakpoint) {
  @if $breakpoint == xs {
    @media (max-width: 480px) { @content; }
  } @else if $breakpoint == sm {
    @media (max-width: 768px) { @content; }
  } @else if $breakpoint == md {
    @media (max-width: 992px) { @content; }
  } @else if $breakpoint == lg {
    @media (max-width: 1200px) { @content; }
  }
}