.gb-container.gb-container-045d53c4 {
    background:radial-gradient(circle, rgb(216, 227, 255) 0%, rgb(153, 176, 247) 100%)!important;
}

.site-header {
    box-shadow: unset !important;
    box-shadow:none !important;
}
.site-header, .gb-container-1bdffbe9, .gb-container-86d05583, .gb-container-50b07b6a, .gb-container-7ffb2795 {
    background: linear-gradient(158deg, rgb(207, 220, 255) 18.38%, rgb(237, 242, 255) 57.07%, rgb(153, 181, 255) 88.75%) !important;
}

.site-header ul li a {
    color: #3F3F3F !important;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.site-header ul.sub-menu li a{
    color : white !important;
}
/*color for h1 on blog, about us, contact us pages*/
h1.gb-headline-a39e9a85, h1.gb-headline-58da3955, h1.gb-headline-c30d63af, .gb-headline{
    color: rgb(73, 75, 103) !important;
}
/*//REVIEW PAGES*/
p.gb-headline.gb-headline-10484ccf.gb-headline-text, p.gb-headline-e959d0f5{
    color: rgb(73, 75, 103) !important;
}
/*paragraph color for under h1*/
p.gb-headline-ccefc90b, p.gb-headline-ad4f7f2e{
    color: rgb(73, 75, 103) !important;
}
a.gb-button.gb-button-41599730.gb-button-text{
    background-color: #0a68dc;
}
.gb-container-5532dbc1 p {
    color: rgb(73, 75, 103) !important;
}
.gb-container-5532dbc1 a{
    color: rgb(73, 75, 103) !important;
}

a.gb-button{
    background-color: #00dafc !important;
    color: #fff !important;
}