.gb-container.gb-container-045d53c4, nav#mobile-header {
    background:radial-gradient(circle, rgb(216, 227, 255) 0%, rgb(153, 176, 247) 100%)!important;
}

.site-header {
    box-shadow: unset !important;
    box-shadow:none !important;
}
.site-header, .gb-container-1bdffbe9, .gb-container-86d05583, .gb-container-50b07b6a, .gb-container-7ffb2795 {
    background: linear-gradient(158deg, rgb(207, 220, 255) 18.38%, rgb(237, 242, 255) 57.07%, rgb(153, 181, 255) 88.75%) !important;
}

.site-header ul li a {
    color: #3F3F3F !important;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    transform: none;

}

.site-header ul.sub-menu li a{
    color : white !important;
    transform: none;
}

/*mobile header*/
nav#mobile-header ul li a {
    color: #3F3F3F !important;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    /*line-height: normal;*/
}

nav#mobile-header ul.sub-menu li a{
    color : white !important;
}

nav#mobile-header * > a:hover {
    transform: none;
}

/*end mobile header*/
/*color for h1 on blog, about us, contact us pages*/
h1.gb-headline-a39e9a85, h1.gb-headline-58da3955, h1.gb-headline-c30d63af{
    color: rgb(73, 75, 103) !important;
}
/*//REVIEW PAGES*/
h1.gb-headline-e959d0f5, p.gb-headline.gb-headline-10484ccf.gb-headline-text{
    color: rgb(73, 75, 103) !important;
}
/*paragraph color for under h1*/
p.gb-headline-ccefc90b, p.gb-headline-ad4f7f2e{
    color: rgb(73, 75, 103) !important;
}
a.gb-button.gb-button-41599730.gb-button-text{
    background-color: #0a68dc;
}
.gb-container-5532dbc1 p {
    color: rgb(73, 75, 103) !important;
}
.gb-container-5532dbc1 a{
    color: rgb(73, 75, 103) !important;
}

a.gb-button{
    background-color: #1656ea !important;
    color: #fff !important;
    transition:all .2s;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px 30px;
    margin-right: 5px;
    border-radius: 40px;
    color: #1656ea;
    padding: 12px 30px !important;
    border-color:none !important;
    text-decoration: none;
}
a.gb-button:hover{
    transform:scale(1.1);
}

.gb-button:nth-of-type(2) {
    background-color: #ffffff !important;
    color: inherit !important;
    box-shadow: none !important;
    border: none !important;
}

.gb-headline strong > a{
    color:#494b67 !important;
}

p.gb-headline {
    color: #494b67 !important;
}

/*AI humanizer page*/
body.page-template-default.page.page-id-59920.logged-in.admin-bar.wp-custom-logo.wp-embed-responsive.post-image-aligned-center.sticky-menu-fade.mobile-header.mobile-header-logo.both-sidebars.nav-float-right.separate-containers.fluid-header.active-footer-widgets-3.header-aligned-left.dropdown-hover.full-width-content.customize-support{
    background-image:radial-gradient(circle, rgb(216, 227, 255) 0%, rgb(153, 176, 247) 100%)!important;
}

body.page-template-default {
    background: radial-gradient(circle, rgb(216, 227, 255) 0%, rgb(153, 176, 247) 100%) !important;
}

body.page.page-id-59998{
    background-image:radial-gradient(circle, rgb(216, 227, 255) 0%, rgb(153, 176, 247) 100%)!important;
}

.feedback-buttons button {
    background: #6892FF !important;
    color: white !important;
}


/*FOOTER*/

.site-footer {
    margin-top: 120px;
}
.site-footer a {
    font-family: "Montserrat";
    font-weight: 500;
}
.site-footer .gb-headline {
    font-family: "Montserrat";
    font-weight: 700;
    color: #484B67;
}
.site-footer .gb-container {
    border-top: none;
}
.site-footer .gb-container-ddd840a8 {
    border-top: none;
    background: rgba(215, 229, 255, 0.65);
    backdrop-filter: blur(4.8000001907px);
}
.site-footer a.wp-block-social-link-anchor {
    border: none;
    border-radius: 0 !important;
    padding: 10px !important;
}
/*END FOOTER*/


/*page: how-many-websites-are-there/*/
.gb-container-50b07b6a:before{
    background-image: none !important;
}
p.gb-headline.gb-headline-4e4262c7.gb-headline-text, p.gb-headline.gb-headline-88dc0600.gb-headline-text{
    color: rgb(73, 75, 103) !important;
}
p.gb-headline.gb-headline-4e4262c7.gb-headline-text a{
    color: rgb(73, 75, 103) !important;
}
p.gb-headline.gb-headline-80fbb8f8.gb-headline-text{
    color: rgb(73, 75, 103) !important;

}
/*end page: how-many-websites-are-there/*/