@import '../abstracts/variables';


// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------
h1,h2,h3,h4,h5,h6{
  line-height: 48px;
}
p,ul,li,a{
  color: $text-color;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
h3{
  color: $text-color;
  font-family: Montserrat;
  font-size: 46px;
  font-style: normal;
  font-weight: bold;
  line-height: 48px; /* 133.333% */
}